body {
    background-color: rgb(148, 216, 149);
  }
  
  .jumbotron {
    background-image: url("./Biodiversity-image.jpg");
    background-size: 33% 100%;
   
    text-align: right;
  }
  
  .article-title, .article-p {
    padding: 20px;
  }
  form {
    padding: 5px;
  }
  
  #filter-btn {
    width: 100%;
  }
  
  /* #bar {
    background-color:rgb(161, 251, 161);
  };

  #bubble {
    background-color: aquamarine;
  };

  
  #gauge {
    background-color: aquamarine;
  }; */